.catalog-page {
  margin: 100px auto;
}

.catalog-page .controll-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 35px;
  gap: 10px;
}

.catalog-page .controll-section button {
  border: none;
  background-color: #00658d;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.catalog-page .controll-section button:hover {
  background-color: #e0e0e0;
}

.catalog-page .controll-section button:focus {
  outline: none;
  background-color: #d0d0d0;
}